* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #ffc107;
}

.foto img{
    height: auto;
    width: 100%;
    max-width: 100%;
    background-color: #000000;
}

.foto-dos {
    height: 25%;
}

.vertical {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: #ffc107;

}

.carousel-item .card-portafolio{
    padding: 50px;
    height: 100%; 
}

.carousel-item .carousel-item{
    height: 400px;
    align-items: center;
}

.link-light{
    text-decoration: none;
}

.lado-izquierdo, .list-group, .list-group-item{
    background-color: #232323;
    color: antiquewhite;
}

.amr{
    background-color: #ffc107;
    width: 80%; 
    padding: 30px;
    height: 150px;
    position: relative; top: 30px;

}

.fport{
    font-size:xx-large; 
    background-color: #ffc107;
    padding-top: 10px;
    padding-bottom: 10px;

}

.ft{
    font-size: xx-large;
    padding: 30px;
}

footer{
    background-color: #ffc107;
    font-weight: bold;
}

.container{
    display: contents;
}

.container .part-sup {
    display: flex;
    justify-content: center;    

}

.lado-izquierdo .hab  {
    padding: 10px  ;
}

.lado-izquierdo .lista {
    list-style: none;
}